<div class="container">
  <h1>Welcom#index</h1>
  <div class="row link-danger">
    <div class="col align-self-start">
      Find me in app/views/welcom/index.html.erb
    </div>
    <div class="col align-self-center">
      Find me in app/views/welcom/index.html.erb
    </div>
    <div class="col align-self-end">
      Find me in app/views/welcom/index.html.erb
    </div>
  </div>
</div>
